<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>

    <title><%= title %>OpenSeadragon</title>

    <link rel='stylesheet' 
          type='text/css'
          media='screen'
          href='/css/style.css'/>

    <script src="/openseadragon/openseadragon.min.js"></script>
</head>

<body>
    <a href="https://github.com/openseadragon/openseadragon"><img 
       style="position: absolute; top: 0; right: 0; border: 0;" 
       src="/images/forkme_right_darkblue_121621.png" 
       alt="Fork me on GitHub" /></a>
  <div id="container">
    <div class="download">
        <a href="/openseadragon.zip">
            <img border="0" width="90" src="/images/zip.png"></a>
        <a href="/openseadragon.tar">
            <img border="0" width="90" src="/images/tar.png"></a>
    </div>
    <h1>
        <a href="/">OpenSeadragon</a><span class="version">
            <%= version %>
        </span>
        <span class="tagline">
            Try it on the iPad! (new since 0.9)
        </span>
    </h1>

    <div class='navigation'>
        <ul>
            <li><a href='#examples-and-features'
                >Examples &amp; Features</a></li>
            <li><a href='/#download'
                >Download</a></li>
            <li><a href='/#installing'
                >Installing</a></li>
            <li><a href='/#api-documentation'
                >API Documentation</a></li>
            <li><a href='/#development'
                >Development</a></li>
            <li><a href='/#license'
                >License</a></li>
        </ul>
    </div>

    <%= content %>

  </div>

</body>
</html>
