<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-80JNSCRENY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-80JNSCRENY');
    </script>
    <!-- End Google tag -->

    <link rel="shortcut icon" type="image/png" href="/images/logo16.png">
    <title><%= title %>OpenSeadragon</title>

    <link rel='stylesheet' 
          type='text/css'
          media='screen'
          href='/css/style.css'/>

    <script src="/openseadragon/openseadragon.min.js"></script>
</head>

<body>
    <a href="https://github.com/openseadragon/openseadragon"><img 
       style="position: absolute; top: 0; right: 0; border: 0;" 
       src="/images/forkme_right_darkblue_121621.png" 
       alt="Fork me on GitHub" /></a>
    <div id="container">
        <div class="download">
            <a href="https://github.com/openseadragon/openseadragon/releases/download/v<%= version %>/openseadragon-bin-<%= version %>.zip">
                <img border="0" width="90" src="/images/zip.png"></a>
            <a href="https://github.com/openseadragon/openseadragon/releases/download/v<%= version %>/openseadragon-bin-<%= version %>.tar.gz">
                <img border="0" width="90" src="/images/tar.png"></a>
        </div>
        <img class="logo" src="/images/logo.png">
        <h1>
            <a href="/">OpenSeadragon</a><span class="version">
                <%= version %>
            </span>
            <span class="tagline">
            </span>
        </h1>

        <div class='navigation'>
            <ul>
                <li><a href='/#examples-and-features'
                    >Examples &amp; Features</a></li>
                <li><a href='/#plugins'
                    >Plugins</a></li>
                <li><a href='/#browser-extension'
                    >Browser Extension</a></li>
                <li><a href='/#download'
                    >Download &amp; Install</a></li>
                <li><a href='/docs/'
                    >API Documentation</a></li>
                <li><a href='/#learning-course'
                    >Learning Course</a></li>
                <li><a href='/#support'
                    >Support</a></li>
                <li><a href='/#development'
                    >Development</a></li>
                <li><a href='/#license'
                    >License</a></li>
            </ul>
        </div>

        <%= content %>

        <ul class="footer">
            <li><a href='/#examples-and-features'
                >Examples &amp; Features</a></li>
            <li><a href='/#plugins'
                >Plugins</a></li>
             <li><a href='/#browser-extension'
                    >Browser Extension</a></li>
            <li><a href='/#download'
                >Download &amp; Install</a></li>
            <li><a href='/docs/'
                >API Documentation</a></li>
            <li><a href='/#support'
                >Support</a></li>
            <li><a href='/#development'
                >Development</a></li>
            <li><a href='/license/'
                >License</a></li>
        </ul>
    </div>

</body>
</html>
