<h2>OpenSeadragon</h2>

<div class="elevator">
    An open-source, web-based viewer for zoomable images, implemented in pure
    JavaScript.
</div>

<div class="demoarea">
    <div class="demoheading">
        OpenSeadragon Viewer With Default Settings
        <span id='consolelog'></span>
    </div>
    <div id="contentDiv" class="openseadragon"></div>
</div>

<script type="text/javascript">
    // Example
    OpenSeadragon({
        id:              "contentDiv",
        prefixUrl:       "/openseadragon/images/",
        tileSources:     "/example-images/highsmith/highsmith.js"
    });
</script>

<%= examples %>

<h2 id='download'>Download</h2>
<p>
    You can download OpenSeadragon <%= version %> in
    <a href="/openseadragon.zip">zip</a> or
    <a href="/openseadragon.tar">tar</a> formats.
</p>


<h2 id='installing'>Installing</h2>
<p>
OpenSeadragon has no external dependencies.  To install, just copy the
JavaScript and images into your web root or static files directory.
You can examine the source of this page to see how to include
OpenSeadragon in a page.
</p>


<h2 id='api-documentation'>API Documentation</h2>
<p>is available <a href='/docs/'>here</a>.  The
documentation has not yet been closely aligned with our release cycle.
We try to minimize backward-incompatible API changes, but during the 0.x
release cycle we are taking some liberty to do so when it makes sense.
Please keep these caveats in mind when referencing the API documentation.</p>


<h2 id='development'>Development</h2>
<p>
    OpenSeadragon is
    <a href="https://github.com/openseadragon/openseadragon">
    developed on GitHub</a>.  To report an issue, use our
    <a href="https://github.com/openseadragon/openseadragon/issues">
    issue tracker</a>.  You can clone the source repository with
    <a href="http://git-scm.com/">Git</a> by running:
    <pre>git clone git://github.com/openseadragon/openseadragon</pre>
</p>


<h2 id='license'>License</h2>
<p>The original license is a
    <a href='https://raw.github.com/openseadragon/openseadragon/master/licenses/new-bsd.txt'
    >New BSD</a> style license.</p>
    <p>This project adds an
    <a href='https://raw.github.com/openseadragon/openseadragon/master/licenses/mit.txt'
    >MIT</a> style license.
</p>
